body {
   font-family: "Titillium Web", sans-serif;
   background-color: $navy;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
   font-family: "Russo One", sans-serif;
   text-transform: uppercase;
}

h1 {
   color: $white;
   margin-top: 64px;
}

.text-muted {
   font-weight: 300;
   color: black !important;
}

.counter {
   font-weight: 600;
}

// remove bootstrap border and border radius
.card,
.form-control,
textarea,
.btn {
   border-radius: 0;
   border: none;
}

.center-children {
   display: flex;
   justify-content: center;
}

.my-container {
   max-width: 530px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.my-card {
   // max-width: 500px;
   // margin-left: 15px;
   // margin-right: 15px;
   margin-top: 48px;
   margin-bottom: 48px;
   background: $gray;
}

.btn-primary {
   background-color: $green;
   color: $navy;
   border: 2px solid $navy;
}
.btn-primary:hover {
   background-color: darken($green, $hover-darken);
   color: darken($navy, $hover-darken);
   border: 2px solid darken($navy, $hover-darken);
}
.btn-primary:active {
   background-color: darken($green, $active-darken) !important;
   color: darken($navy, $active-darken) !important;
   border: 2px solid darken($navy, $active-darken) !important;
}

.btn-secondary {
   background-color: $gray;
   color: $navy;
   border: 2px solid $navy;
}
.btn-secondary:hover {
   background-color: darken($gray, $hover-darken);
   color: darken($navy, $hover-darken);
   border: 2px solid darken($navy, $hover-darken);
}
.btn-secondary:active {
   background-color: darken($gray, $active-darken) !important;
   color: darken($navy, $active-darken) !important;
   border: 2px solid darken($navy, $active-darken) !important;
}

.btn-danger {
   background-color: $red;
   color: $white;
   border: 2px solid $navy;
}
.btn-danger:hover {
   background-color: darken($red, $hover-darken);
   color: darken($white, $hover-darken);
   border: 2px solid darken($navy, $hover-darken);
}
.btn-danger:active {
   background-color: darken($red, $active-darken) !important;
   color: darken($white, $active-darken) !important;
   border: 2px solid darken($navy, $active-darken) !important;
}

.card {
   background-color: $gray;
}

.form-control,
textarea {
   background-color: $white;
}

.text-danger {
   color: $red !important;
}

legend {
   font-size: 1rem;
}

th,
td {
   // padding: 0;
   padding: 0 4px 0 4px;
}

// .navbar {
//    color: $white;
// }

// base style for each team in a match up
.team-choice {
   width: 50%;
   padding-left: 4px;
   padding-right: 4px;
   border: 3px solid $non-pick-color;
   margin-bottom: 4px;
   cursor: not-allowed;
}
.team-choice.pickable {
   cursor: pointer;
}
.team-choice.pickable:hover {
   border: 3px solid $non-pick-color-hover;
}
.team-choice.pickable:active {
   border: 3px solid $non-pick-color-active;
}

.team-choice-picked {
   border: 3px solid $pick-color;
}
.team-choice-picked.pickable {
   cursor: pointer;
}
.team-choice-picked.pickable:hover {
   border: 3px solid $pick-color-hover;
}
.team-choice-picked.pickable:active {
   border: 3px solid $pick-color-active;
}

// style for any game that has started
.team-choice.started {
   font-weight: bold;
}

// style for the winning team if you picked it on my picks
.team-choice-winner {
   background-color: $green;
   color: $white;
}

// style for the winning team if you didn't pick it on my picks
.team-choice-loser {
   background-color: $red;
   // background-color: transparentize($red, 0.5);
   color: $white;
}

// for the date rows on the group picks table
.new-table-date {
   background-color: darken($gray, 55);
}

// color for picked or unpicked games before they start
.pregame-pick-group {
   // background-color: transparentize($navy, 0.5);
   background-color: darken($gray, 45);
}

.locked-pick-group {
   background-color: transparentize($navy, 0.5);
   // background-color: desaturate(lighten($navy, 5), 40);
}

.correct-pick-group {
   background-color: transparentize($green, 0.5);
   // background-color: desaturate(darken($green, 10), 20);
}

.incorrect-pick-group {
   background-color: transparentize($red, 0.5);
   // background-color: desaturate(darken($red, 5), 30);
}

.right {
   text-align: right;
}

.selected-nav-page {
   color: $white !important;
}

// https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css

.my-table-container {
   max-width: 100%;
   // min-width: 100%; // cjf
   // max-height: 150px;
   max-height: 100vh; // cjf
   min-height: 100vh; // cjf
   overflow-x: scroll;
}

// // drop downs will cover the table header in large size
// // table header will stick only in small size
// thead th {
//    // position: -webkit-sticky; /* for Safari */
//    // position: sticky;
//    // top: 0;
//    background: #000;
//    // z-index: 1;
// }
// @media (max-width: 576px) {
//    thead th {
//       position: -webkit-sticky; /* for Safari */
//       position: sticky;
//       top: 0;
//       // background: #000;
//       z-index: 1;
//    }
// }

.left-column {
   position: -webkit-sticky; /* for Safari */
   position: sticky;
   left: 0;
   width: 100px; // cjf
   min-width: 100px; // cjf
   background: #000; // cjf
}

.top-row {
   background: #000; // cjf
   height: 36px;
   vertical-align: bottom;
}

.date {
   color: transparentize($color: $white, $amount: 0.4);
}

.lock-x-pos {
   position: sticky;
   left: 0;
}

/* To have the header in the first column stick to the left: */

// thead th:first-child {
//    left: 0;
//    z-index: 2;
// }

/* Just to display it nicely: */

table {
   border-collapse: collapse;
   min-width: 100%; // cjf
}

// style for this user's row in the standings
.this-user-standings {
   background-color: rgba($navy, 0.1);
}

// td,
// th {
//    padding: 0.5em;
// }

// in the standings table to separate tied teams
.new-standings-rank {
   border-top: gray 1px solid;
}

// for the pop up message banners
.message {
   // background-color: $green;
   // color: black;
   font-weight: 600;
   position: fixed;
   bottom: 0px;
   width: calc(100% - 30px);
   z-index: 1000;
   margin: 15px;
   border-radius: 0;
}

.alert-danger {
   background-color: $red;
   color: $white;
   border-color: $red;
}

.alert-warning {
   background-color: $yellow;
   color: $black;
   border-color: $yellow;
}

.alert-success {
   background-color: $green;
   color: $black;
   border-color: $green;
}

.nav-row {
   border-bottom: 1px solid $navy;
   background: darken($gray, 15);
}

.nav-row-title {
   padding-left: 7px;
   padding-right: 7px;
   color: darken($gray, 50);
}

.nav-tab {
   font-weight: bold;
   padding-left: 7px;
   padding-right: 7px;
   color: $navy;
   cursor: pointer;
   display: inline-block;
}

.nav-tab:hover {
   color: $green;
   text-decoration: underline;
   background: darken($gray, 20);
}

.nav-tab:active {
   color: darken($green, 5);
}

.nav-tab-current {
   background: $navy;
   color: $gray;
}

.nav-tab-current:hover {
   background: $navy;
}

.iphone-fix {
   -webkit-appearance: none; // fixes button appearance on iPhone?
}
